extends layout
block content
  h1 Hi
  p Welcome to the Simple Rest-Based App for Updating Records
    // ADD USER
    h2 Add User
    #addUser
      fieldset
        input#username(type='text', placeholder='Username')
        input#userpass(type='text', placeholder='Password')
        br
        input#useremail(type='text', placeholder='Email')
        input#userphone(type='text', placeholder='Phone')
        br
        button#btnAddUser Add User


